.count {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:#5480fa ;
  width: 400px;
  height: 400px;
  margin-top: 80px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.count:hover {
  background-color:  #2b6cb0;
}

h2 {
  color: #333;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 48px;
  color: #333;
}

.message {
  margin-top: 20px;
  font-size: 18px;
  color:#cbd5e0;
}

.action-btn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.action-btn button {
  padding: 10px 20px;
  border: none;
  background-color: #38b2ac;
  color: white;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-btn button:hover {
  background-color:#319795;
}
